.message {
    font-weight: 600;
    color: blue;
}

.header {
    background: #f4f4f4;
    color: #333;
    height: 60px;
    padding: 10px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

label{
    background-color: red;
    margin-left: 48%;
    text-align: center;
}

input{
    background-color: red;
    margin-left: 48%;
    text-align: center;
}

.navbar {
    background: maroon;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.navbar a {
    color: #fff;
    background: #555;
    text-decoration: underline;
    padding: 7px 30px;
}

.navbar a:hover {
    background-color: maroon;
}

.body-content {
    padding: 20px;
    background-color: goldenrod;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    background-color: maroon;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    border: 1px solid black;
    background-color: rgb(252, 222, 222);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.card h2 {
    margin-bottom: 10px;
}

.task-list {
    padding: 0;
    list-style: none;
}

.task-item {
    margin-bottom: 5px;
}