{% extends "layout.html" %}
{% block title %}
C. Asimétrico
{% endblock %}
{% block content %}
<h1>Funcionalidades de cifrado simétrico</h1>

    <h2>Encriptar archivo</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="archivo">Seleccionar archivo:</label>
        <input id="archivo" type="file" name="archivo">
        <br><br>
        <label>Algoritmo para la encriptación:</label>
        <label for="des">AES</label>
        <input type="radio" id="aes" name="algoritmo" value="AES">
        <label for="algoritmo">DES</label>
        <input type="radio" id="des" name="algoritmo" value="DES">
        <br><br>
        <label for="">Almacenamiento para la encriptación:</label>
        <label for="local">Local</label>
        <input type="radio" id="local" name="almacenamiento" value="local">
        <label for="compartida">Compartida</label>
        <input type="radio" id="compartida" name="almacenamiento" value="Compartida">
        <br><br>
        <input type="submit" name="encriptar" value="Encriptar">
    </form>

    <!-- Desde aquí lanzará los errores que se produzcan en la introducción de datos  -->
    {% if encrypted_message %}
        
    {% endif %}

    <!-- Desde aquí lanzará los errores o éxito en el proceso de encriptación  -->
    {% if encrypted_message %}
        
    {% endif %}
{% endblock %}