{% extends "layout.html" %}
{% block title %}
Documentación
{% endblock %}
{% block content %}
<h1>Como usar correctamente el cifrado simétrico</h1>
<h3>1º PASO</h3>
<p>Pulse el boton de "Encriptar" para empezar</p>
<h3>2º PASO</h3>
<p>Después elija el archivo de texto que quiera cifrar, se le volverá a abrir el explorador de archivos para que usted elija la <br>
    carpeta en donde quiere guardar el archivo cifrado y el archivo de la clave, la cual se generara automaticamente.
</p>
<h3>3º PASO</h3>
<p>Comparta los archivos con la persona que deba recibirlos y comunique a dicha persona que una vez usada la clave<br>
    para ver el contenido del archivo cifrado puede desacerce del archivo de la clave, ya que este no servirá para nada
</p>
<h3>4º PASO</h3>
<p>En caso de que seas tu quien va a desencriptar pulsa el boton correspondiente y: selecciona el archvio que vas a descrifrar,<br>
    luego elige la clave que te hayan pasado y por ultimo elige la carpeta en donde quieres guardar el archivo desencriptado
</p>
<h1>Como usar correctamente el cifrado asimetrico</h1>
<h3>1º PASO</h3>
<h3>2º PASO</h3>
<h3>3º PASO</h3>

<h1>Como usar correctamente el cifrado híbrido</h1>
<h3>1º PASO</h3>
<h3>2º PASO</h3>
<h3>3º PASO</h3>
{% endblock %}