{% extends "layout.html" %}
{% block title %}
Documentación
{% endblock %}
{% block content %}
<h1>Como usar correctamente el cifrado simétrico</h1>
<h3>1º PASO</h3>
<p>Elija que es lo que quiere encriptar y escriba la clave para cifrarlo</p>
<h3>2º PASO</h3>
<p>Después pulse el botón de "Encriptar y descargar" para guardar tanto el archivo cifrado como la clave para desencriptar<br>
    o pulse "Encriptar y mandar a Drive" para guardar ambos archivos en su Google Drive 
</p>
<h3>3º PASO</h3>
<p>Comparta los archivos con la persona que deba recibir los archivos y comunique a dicha persona que una vez usada la clave<br>
    para ver el contenido del archivo cifrado puede desacerce del archivo de la clave, ya que este no servirá para nada
</p>
<h1>Como usar correctamente el cifrado asimetrico</h1>

<h1>Como usar correctamente el cifrado híbrido</h1>
{% endblock %}